<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <form action="/calculation" method="post">
        <input type="num" name="number1" />
        <input type="num" name="number2" />
        <button>Submit</button>
        <p>{{total}}</p>
    </form>
</body>

</html>