<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form action="/verify" method="get">
        <input type="text" id="i1" name="User" />
        <input type="password" id="i2" name="password" />
        <button>Submit</button>
        <p>{{msg}}</p>
    </form>

</body>

</html>